<launch>
    <arg name="debug"                  default="false"/>
    <arg name="display"                default="false"/>
    <node pkg="landing_zone_detection" type="landing_zone_detector_node" name="landing_zone_detector_node" args="$(arg debug) $(arg display)" output="screen">
        <rosparam command="load" file="$(find landing_zone_detection)/config/params.yaml"/>
    </node>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
       <arg name="filters"             value="temporal"/>
       <arg name="unite_imu_method"    value="linear_interpolation"/>
       <arg name="enable_gyro"         value="true"/>
       <arg name="enable_accel"        value="true"/>
    </include>
    <param name="enable_auto_exposure" value="false"/>
    <param name="exposure"             value="20000"/>
    <param name="frames_queue_size"    value="16"/>
    <param name="filter_smooth_delta"  value="30"/>
    <param name="filter_smooth_alpha"  value="0.2000000059604645"/>
    <param name="initial_reset"        value="true"/>
</launch>
